@model LibreriaDeClases.VMProductoCategoria
@{
    ViewBag.Title = "AgregarProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";

     List<SelectListItem> lst = new List<SelectListItem>();
            foreach (var item in Model.categorias)
            {
                lst.Add(new SelectListItem() { Text = item.NombreCategoria, Value = item.IdCategoria.ToString() });

            }


}

<h2>AgregarProducto</h2>
<h5>@ViewBag.Respuesta</h5>
<h4>
    @Html.ActionLink("Volver", "Index", "Home")
</h4>
<br />

@using (Html.BeginForm("AgregarProducto","Home", FormMethod.Post,new {enctype="multipart/form-data" }))
{
   <div class="container">
       <div class="col-md-6">
           <div>
               @Html.LabelFor(x => x.producto.Nombre)
               @Html.TextBox("Nombre", Model.producto.Nombre, new { @class = "form-control" })
               @Html.ValidationMessage("Nombre", new { @class = "error" })
           </div>
           <div>
               @Html.LabelFor(x => x.producto.PrecioM)
               @Html.TextBox("PrecioM", Model.producto.PrecioM, new { @class = "form-control" })
               @Html.ValidationMessage("PrecioM", new { @class = "error" })
           </div>
           <div>
               @Html.LabelFor(x => x.producto.PrecioD)
               @Html.TextBox("PrecioD", Model.producto.PrecioD, new { @class = "form-control" })
               @Html.ValidationMessage("PrecioD", new { @class = "error" })
           </div>

       </div>
       <div class="col-md-6">
           <div>
               @Html.LabelFor(x => x.producto.Descripcion)
               @Html.TextArea("Descripcion", "", new { @class = "form-control" })
               @Html.ValidationMessage("Descripcion", new { @class = "error" })
           </div>
           <div>
               <label>Suplidores</label>
               <div class="form-check">
                   @Html.CheckBox("PrimerSuplidor", new { @class = "form-check-input", id = "PrimerSuplidor" })
                   @Html.Label("PrimerSuplidor", "Leterago", new { @class = "form-check-label" })
               </div>
               <div class="form-check">
                   @Html.CheckBox("SegundoSuplidor", new { @class = "form-check-input", id = "SegundoSuplidor" })
                   @Html.Label("SegundoSuplidor", "Disfarcam", new { @class = "form-check-label" })
               </div>
               <div class="form-check">
                   @Html.CheckBox("TercerSuplidor", new { @class = "form-check-input", id = "TercerSuplidor" })
                   @Html.Label("TercerSuplidor", "Ibero", new { @class = "form-check-label" })
               </div>
               <div class="form-check">
                   @Html.CheckBox("CuartoSuplidor", new { @class = "form-check-input", id = "CuartoSuplidor" })
                   @Html.Label("CuartoSuplidor", "Calox", new { @class = "form-check-label" })
               </div>
           </div>
           <div>
               @Html.LabelFor(x => x.producto.CategoriaId)
               @Html.DropDownList("CategoriaId",lst,"Elije una categoria",new {@class="form-control" })
              
               @Html.ValidationMessage("CategoriaId", new { @class = "error" })
           </div>

       </div>
       <div>
           <div class="col-md-6">
               <div>
                  <label for="FotoSubida">Fotos</label>
                   <input name="FotoSubida" id="FotoSubida" type="file" accept="image/*" multiple required  class="form-control" />
                   @Html.ValidationMessage("FotoSubida", new { @class = "error" })
               </div>
           </div>
          
       </div>
       <button type="submit" class="btn btn-primary">Guardar</button>
   </div>
}

<style>
    .error{
        color:red;
    }
</style>